
.estilo_img1{
    height: 90vh; position: absolute; z-index: 5;
    transition: all 0.5s;
}
.estilo_img2{
    height: 90vh; position: absolute; margin-top: 50px; margin-right: -50px; z-index: 4; opacity: 0.3;
    transition: all 0.5s;
}
.estilo_img3{
    height: 90vh; position: absolute; margin-top: 100px; margin-right: -100px; z-index: 3; opacity: 0.2;
    transition: all 0.5s;
}
.estilo_img4{
    height: 90vh; position: absolute; margin-top: 150px; margin-right: -150px; z-index: 3; opacity: 0.2;
    transition: all 0.5s;
}

.estilo_btn_next{
    z-index: 10;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20%;
    right: 60px;
    display: none;
}
.estilo_btn_next2{
    z-index: 10;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 30%;
    display: block;
}

.slide-in-blurred-left{-webkit-animation:slide-in-blurred-left .6s cubic-bezier(.23,1.000,.32,1.000) 2s both;animation:slide-in-blurred-left .6s cubic-bezier(.23,1.000,.32,1.000) 2s both}

 @-webkit-keyframes slide-in-blurred-left{0%{-webkit-transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform:translateX(-1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-left{0%{-webkit-transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform:translateX(-1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}
@media only screen and (min-width: 260px) and (max-width: 500px){

    .estilo_img1{
        height: auto; width: 100%; margin-left: 0px; position: absolute; z-index: 5;
        transition: all 0.5s;
    }
    .estilo_img2{
        height: auto; width: 100%; position: absolute; margin-top: 20px; margin-left: 0px; margin-right: 0px; z-index: 4; opacity: 0.3;
        transition: all 0.5s;
    }
    .estilo_img3{
        height: auto; width: 100%; position: absolute; margin-top: 40px; margin-left: 0px; margin-right: 0px; z-index: 3; opacity: 0.2;
        transition: all 0.5s;
    }
    .estilo_img4{
        height: auto; width: 100%; position: absolute; margin-top: 60px; margin-left: 0px; margin-right: 0px; z-index: 3; opacity: 0.2;
        transition: all 0.5s;
    }
    
    .estilo_btn_next{
        z-index: 10;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        right: 5px;
        display: block;
    }
    .estilo_btn_next2{
        z-index: 10;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        right: 5px;
        display: none;
    }

}

@media only screen and (min-width: 501px) and (max-width: 600px){

    .estilo_img1{
        height: auto; width: 80%; margin-left: 0px; position: absolute; z-index: 5;
        transition: all 0.5s;
    }
    .estilo_img2{
        height: auto; width: 80%; position: absolute; margin-top: 20px; margin-left: 0px; margin-right: -20px; z-index: 4; opacity: 0.3;
        transition: all 0.5s;
    }
    .estilo_img3{
        height: auto; width: 80%; position: absolute; margin-top: 40px; margin-left: 0px; margin-right: -40px; z-index: 3; opacity: 0.2;
        transition: all 0.5s;
    }
    .estilo_img4{
        height: auto; width: 80%; position: absolute; margin-top: 60px; margin-left: 0px; margin-right: -60px; z-index: 3; opacity: 0.2;
        transition: all 0.5s;
    }
    
    .estilo_btn_next{
        z-index: 10;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        right: 60px;
        display: block;
    }
    .estilo_btn_next2{
        z-index: 10;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        right: 60px;
        display: none;
    }

}

@media only screen and (min-width: 601px) and (max-width: 700px){

    .estilo_img1{
        height: auto; width: 80%; margin-left: 0px; position: absolute; z-index: 5;
        transition: all 0.5s;
    }
    .estilo_img2{
        height: auto; width: 80%; position: absolute; margin-top: 30px; margin-left: 0px; margin-right: -40px; z-index: 4; opacity: 0.3;
        transition: all 0.5s;
    }
    .estilo_img3{
        height: auto; width: 80%; position: absolute; margin-top: 60px; margin-left: 0px; margin-right: -80px; z-index: 3; opacity: 0.2;
        transition: all 0.5s;
    }
    .estilo_img4{
        height: auto; width: 80%; position: absolute; margin-top: 90px; margin-left: 0px; margin-right: -120px; z-index: 3; opacity: 0.2;
        transition: all 0.5s;
    }
    
    .estilo_btn_next{
        z-index: 10;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        right: 70px;
        display: block;
    }
    .estilo_btn_next2{
        z-index: 10;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        right: 70px;
        display: none;
    }

}

@media only screen and (min-width: 701px) and (max-width: 800px){
    .estilo_btn_next2{
        z-index: 10;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        right: 90px;
        display: block;
    }
   
}

@media only screen and (min-width: 801px) and (max-width: 1000px){
    .estilo_btn_next2{
        z-index: 10;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        right: 120px;
        display: block;
    }
   
}
@media only screen and (min-width: 1001px) and (max-width: 1200px){
    .estilo_btn_next2{
        z-index: 10;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        right: 200px;
        display: block;
    }
   
}

@media only screen and (min-width: 1201px) and (max-width: 1500px){
    .estilo_btn_next2{
        z-index: 10;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        right: 25%;
        display: block;
    }
   
}



